.big-box {
	width: 100%;
	height: 75px;
	margin: 5px;
	background-color: white;
	text-align: center;
	display: inline-block;
}

.box {
	width: 75px;
	height: 75px;
	margin: 5px;
	background-color: white;
	text-align: center;
	display: inline-block;
}

.flex-container {
	display: flex;
	background-color: darkblue;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}