.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: gray;
}

.box {

}

.cust-img {
	width: 100%;
}

.card {
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 5px;
	width: 240px;
	background-color: white;
}

.card:hover {
	background-color: gray;
}