.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	background-color: grey;
}

img {
	width: 8vw;
}
.weather-icon {
	width: 10vw;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

.container {
	height: 250px;
	width: 250px;
	background-color: grey;
}

.box {
	height: 250px;
	width: 250px;
	background-color: grey;
}